@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 1px 0px 0px rgba(9, 9, 9, 0.23);
  }
  
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  
  .navigation-menu {
    margin-left: auto;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    border-radius: 10px;
    
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0.5em 0.7em;
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #2642af;
  }
  
  @media screen and (max-width: 550px) {
    .hamburger {
      display: block;
    }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: white;
      border-top: 1px solid black;
      display: none;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
      /* padding: 0.5em 0.7em; */
    }
  
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: rgb(201, 201, 201);
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }
  }

  .container{
    margin: 0px auto;
    max-width: 1120px;
    background-color: #2642af;
}

.navigation-menu li:last-child{
  background-color:#753bd9;
  color: white;
  border-radius: 10px;
  padding: 0.2em 0.5em!important ;
}
